body {
width:100%;
height:100%;
font-family:Noto,Roboto,Droid Sans Serif,sans-serif;
font-size:10pt;
color:#000;
background:#fff;
padding:0;
margin:0;
}
h1 {
font-size:160%;
background-color:#eee;
margin-top:0;
padding:10pt;
}
h2 {
font-size:120%;
padding-top:10pt;
padding-left:10pt;
}
p {
padding-left:10pt;
}
div {
font-size:90%;
background-color:#eee;
padding-left:10pt;
padding-top:2em;
padding-bottom:10em;
}
a,a:visited {
color:#333;
text-decoration:none;
}
a:hover {
color:#000;
text-decoration:underline;
}
